@page
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change password";
    var currentLanguage = "sq";
    var sharedRes = (Dictionary<string, string>)ViewData["Shared"];
    try
    {
        currentLanguage = ViewContext.RouteData.Values["lang"].ToString();
    }
    catch { }
}

<div class="container col-xl-6 col-xxl-6 col-12 px-4 py-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
               
                <div class="col-auto">
                    <h4 class="mt-2" localname="evasionTax">@sharedRes.CheckKey("UserProfile")</h4>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="col-md-10 mx-auto col-lg-8 col-12">
                <partial name="_StatusMessage" for="StatusMessage" />

                <form id="change-password-form" method="post">


                    <h6 localname="PersonalInfo">@sharedRes.CheckKey("PersonalInfo")</h6>
                    <hr />
                    <div class="row align-items-center">
                        <div class="col-md-4 text-start mt-3">
                            <h6 localname="FirstName">@sharedRes.CheckKey("FristName")</h6>
                        </div>
                        <div class="col-md-8 mt-3">
                            <input class="form-control" type="text" asp-for="Input.FirstName" disabled />
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-4 text-start mt-3">
                            <h6 localname="FirstName">@sharedRes.CheckKey("LastName")</h6>
                        </div>
                        <div class="col-md-8 mt-3">
                            <input class="form-control" type="text" asp-for="Input.LastName" disabled />
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-4 text-start mt-3">
                            <h6 localname="FirstName">@sharedRes.CheckKey("Email")</h6>
                        </div>
                        <div class="col-md-8 mt-3">
                            <input class="form-control" type="text" asp-for="Input.Email" disabled />
                        </div>
                    </div> 
                    <div class="row align-items-center">
                        <div class="col-md-4 text-start mt-3">
                            <h6 localname="Username">@sharedRes.CheckKey("Username")</h6>
                        </div>
                        <div class="col-md-8 mt-3">
                            <input class="form-control" type="text" asp-for="Input.Username" disabled />
                        </div>
                    </div>
                    <hr />
                    <h6 class="mt-5" localname="ChangePasswordTitle">@sharedRes.CheckKey("ChangePasswordTitle")</h6>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger fw-bold" style="list-style: none;"></div>

                    <div class="form-floating mt-2">
                        <input asp-for="Input.OldPassword" data-val-required="@Html.Raw(sharedRes.CheckKey("FieldRequired"))" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.OldPassword" class="form-label" localname="CurrentPassword">@sharedRes.CheckKey("CurrentPassword")</label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger fw-bold"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input asp-for="Input.NewPassword" data-val-required="@Html.Raw(sharedRes.CheckKey("FieldRequired"))" data-val-length="@Html.Raw(sharedRes.CheckKey("PasswordRequiredInfo"))" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.NewPassword" class="form-label" localname="NewPassword">@sharedRes.CheckKey("NewPassword")</label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger fw-bold"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input asp-for="Input.ConfirmPassword" data-val-equalto="@Html.Raw(sharedRes.CheckKey("ConfirmPasswordError"))" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword" class="form-label" localname="ConfirmPassword">@sharedRes.CheckKey("ConfirmPassword")</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger fw-bold"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary my-2" localname="SaveChanges">@sharedRes.CheckKey("SaveChanges")</button>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {

}

