@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    var currentLanguage = "sq";
    var sharedRes = (Dictionary<string, string>)ViewData["Shared"];
    try
    {
        currentLanguage = ViewContext.RouteData.Values["lang"].ToString();
    }
    catch { }

}
<link href="~/Public/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Public/css/Header.css" rel="stylesheet">
<link href="~/assets/css/fontawesome.css" rel="stylesheet">
<link href="~/Public/css/style.css" rel="stylesheet">
<style>
    .validation-summary-errors li {
        list-style: none;
        font-weight: bold;
    }

    .content-design {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    body {
        background-color: #eeeeee;
    }

    input.error, select.error, textarea.error, input.input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffe5e5;
    }

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@sharedRes.CheckKey("SiteName")</title>
</head>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5 mt-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h3 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">@sharedRes.CheckKey("SiteName")</h3>
            <p class="col-lg-10 fs-4">
                @sharedRes.CheckKey("SiteDescription")
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="text-center">
                    <img height="100" src="/img/LogoKqz.PNG" />
                    <hr />
                    <h1><i class="fa fa-check-circle h1 text-success"></i></h1>
                    <span class="fw-bold" localname="ConfirmForgotPassword">@sharedRes.CheckKey("ConfirmForgotPassword")</span>
                    <hr />
                    <span class="text-secondary" localname="ForgotPasswordCheckEmail">@sharedRes.CheckKey("ForgotPasswordCheckEmail")</span>
                </div>
                <hr class="my-4">
                <a asp-page="./Login" class="btn btn-secondary w-100" localname="ReturnToLogin"><i class="fa fa-arrow-left"></i> @sharedRes.CheckKey("ReturnToLogin") </a>
            </div>
        </div>
    </div>
</div>

