@page
@model RquiredChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    var currentLanguage = "sq";
    var sharedRes = (Dictionary<string, string>)ViewData["Shared"];
    try
    {
        currentLanguage = ViewContext.RouteData.Values["lang"].ToString();
    }
    catch { }
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@sharedRes.CheckKey("SiteName") - @sharedRes.CheckKey("LoginInfo")</title>
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/css/Header.css" rel="stylesheet">
    <link href="~/assets/css/fontawesome.css" rel="stylesheet">
    <link href="~/Public/css/style.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="container col-xl-10 col-xxl-10 col-md-12 col-sm-12 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5 mt-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h3 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">@sharedRes.CheckKey("SiteName")</h3>
                <p class="col-lg-10 fs-4">
                    @sharedRes.CheckKey("SiteDescription")
                </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <input type="hidden" id="btnLoading" value="@Html.Raw(sharedRes.CheckKey("btnLoading"))" />
                <form method="post" id="requiredchpassword" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                    <div class="col col-md-12 text-center mb-2">
                        <img height="100" src="/img/LogoKqz.PNG" />
                        <h4 class="mt-2" localname="ChangePasswordTitle">@sharedRes.CheckKey("ChangePasswordTitle")</h4>
                        <hr />
                    </div>
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <div asp-validation-summary="ModelOnly" class="text-danger fw-bold" style="list-style: none;"></div>
                    <div class="form-floating mt-2" hidden>
                        <input asp-for="Input.OldPassword" value="Input.OldPassword" data-val-required="@Html.Raw(sharedRes.CheckKey("FieldRequired"))" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.OldPassword" class="form-label" localname="CurrentPassword">@sharedRes.CheckKey("CurrentPassword")</label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger fw-bold"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input asp-for="Input.NewPassword" data-val-required="@Html.Raw(sharedRes.CheckKey("FieldRequired"))" data-val-length="@Html.Raw(sharedRes.CheckKey("PasswordRequiredInfo"))" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.NewPassword" class="form-label" localname="NewPassword">@sharedRes.CheckKey("NewPassword")</label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger fw-bold"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input asp-for="Input.ConfirmPassword" data-val-equalto="@Html.Raw(sharedRes.CheckKey("ConfirmPasswordError"))" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword" class="form-label" localname="ConfirmPassword">@sharedRes.CheckKey("ConfirmPassword")</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger fw-bold"></span>
                    </div>
                    <button id="btnsave" type="submit" class="w-100 btn btn-lg btn-primary my-2" localname="SaveChanges">@sharedRes.CheckKey("SaveChanges")</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/Public/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $("#btnsave").click(function (e) {
            var getformId = $(this).closest('form');
            var Validform = $(getformId).valid();
            if (Validform) {
                var btnId = $(this).attr('id');
                $('#' + btnId).addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> @sharedRes.CheckKey("btnLoading")');
            }
        });
    </script>
</body>

</html>


