@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    var currentLanguage = "sq";
    var sharedRes = (Dictionary<string, string>)ViewData["Shared"];
    try
    {
        currentLanguage = ViewContext.RouteData.Values["lang"].ToString();
    }
    catch { }
}

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@sharedRes.CheckKey("SiteName") - @sharedRes.CheckKey("PasswordHasBeenReset")</title>
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/css/Header.css" rel="stylesheet">
    <link href="~/assets/css/fontawesome.css" rel="stylesheet">
    <link href="~/Public/css/style.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">

</head>


<body>
    <div class="container col-xl-10 col-xxl-10 col-md-12 col-sm-12 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5 mt-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h3 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">@sharedRes.CheckKey("SiteName")</h3>
                <p class="col-lg-10 fs-4">
                    @sharedRes.CheckKey("SiteDescription")
                </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                    <div class="text-center">
                        <img height="100" src="/img/LogoKqz.pNG" />
                        <hr />
                        <h1><i class="fa fa-check-circle h1 text-success"></i></h1>
                        <span class="fw-bold" localname="PasswordHasBeenReset">@sharedRes.CheckKey("PasswordHasBeenReset")</span>
                    </div>
                    <hr class="my-4">
                    <a asp-page="./Login" class="btn btn-secondary w-100" localname="ReturnToLogin"><i class="fa fa-arrow-left"></i> @sharedRes.CheckKey("ReturnToLogin") </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>